@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-VariableFont_slnt\wght.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200;300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

button {
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}
